{% extends 'base.html' %}

{% block header %}
{% include 'player.html' %}
<div class="wrapper">
  <div class="slogan">
    <h1>Social Music</h1>
    <p>Hear, Enjoy and Find your Music</p>
  </div>
  <div class="find">
    <form action="" method="POST">
      <input type="text" placeholder="Find something…">
      <input type="submit" value="Go!">
    </form>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="module">
  <div class="module-wrapper">
    <div class="module-header">
      <h3>What is this place?</h3>
      <p>This is some social music player that allows you to combine the power of your mind,
         the internet and your local harddisk.
      <p>Currently these music providers are implemented: <a href="http://jamendo.com">Jamendo</a>, <a href="http://www.dilandau.eu">Dilandau</a>,
         <a href="http://soundcloud.com">SoundCloud</a>.
      <strong>More will come soon!</strong>
      <p><strong>Please note that this is neither finished nor suitable for real usage but highly experimental!<strong></p>
    </div>
  </div>
</div>

<div class="module playlist">
  <div class="module-wrapper">
    <div class="module-header">
      <h3>Playlist</h3>
    </div>

    <div class="module-list">
      <div class="module-list-wrapper">
        <ul class="songs">
          <li class="module-item empty"><strong>There are no songs in this playlist</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
